@import "../../styles/layout";

.LandingPage {
  .hero {
    display: flex;
    margin-bottom: spacing(2);

    .logo {
      margin-right: spacing(2);
    }
  }

  .StartGameFormContainer {
    margin-top: spacing(2);
    .StartGameForm {
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
