.GameInfoSection {
  .TokenRow {
    display: flex;

    input.GameToken {
      width: 100%;
      border: none;
      text-align: center;
      font-size: 33px;
      font-weight: bold;
    }



    button {
      position: relative;
      width: 52px;
      margin-left: 8px;
      margin-right: -8px;

      padding: 0;
      margin-top: -6px;

      svg {
        position: absolute;
        width: 52px;
        height: 52px;

        &.Copy.disappear {
          animation: 0.2s ease-out 1 shiftAway;
          animation-fill-mode: forwards;
        }

        &.Copy.appear {
          animation: 0.2s ease-out 1 shiftIn;
          animation-fill-mode: forwards;
        }

        &.Checkbox {
          fill: #4caf50;

          &.appear {
            animation: 0.2s ease-out 1 shiftIn;
            animation-fill-mode: forwards;
          }

          &.disappear {
            animation: 0.2s ease-out 1 shiftAway;
            animation-fill-mode: forwards;
          }
        }
      }
    }
  }

  .Caption {
    position: relative;
    .IconContainer {
      position: relative;
      display: inline-block;
      width: 18px;

      svg {
        position: absolute;
        width: 18px;
        fill: #888;
        top: -16px;
      }
    }
  }
}

@keyframes shiftAway {
  100% {
    opacity: 0;
    transform: translateX(-25px) scaleX(0);
  }
}

@keyframes shiftIn {
  0% {
    opacity: 0;
    transform: translateX(25px) scaleX(0);
  }
  100% {
    opacity: 100;
    transform: translateX(0) scaleX(1);
  }
}
