.LobbyTab {
  .PlayerCard {
    .PlayerAvatar {
      min-width: 50px;
    }
    .Name {
      flex-basis: 100%;
    }
  }
  .EditButton {
    padding: 8px;
    border-radius: 4px;
    &:hover {
      background-color: #f50057;
      color: white;
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
