.Lobby {

  button.MuiIconButton-root {
    padding: 0;
    margin-top: -6px;
    svg {
      width: 52px;
      height: 52px;
    }
  }

  .PlayerSection {
    .PlayerRow {
      display: flex;

      .MuiFormControl-root {
        width: 100%;
      }

      button {
        margin-left: 8px;
        margin-right: -8px; // to get rid of padding _within_ the icons 😭

        &[data-rolling='1'] svg {
          animation: 0.25s ease-in-out 1 rolling;
        }
      }
    }
    
    .CanvasContainer {
      position: relative;
      padding: 8px;
      border-style: solid;
      border-width: 1px;

      .Label {
        position: absolute;
        top: -8px;
        padding-left: 5px;
        padding-right: 5px;
        background-color: white;
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-weight: 400;
      }

      .Controls {
        position: absolute;
        left: 16px;
        top: 16px;

        max-width: 100%;

        div.MuiToggleButtonGroup-root {
          margin-right: 8px;
          margin-bottom: 8px;
          
          button {
            padding: 6px;

            svg { 
              width: 14px; 
              height: 14px; 
            }
          }
        }
      }
    }
  }

  .GameInfoSection {
    .TokenRow {
      display: flex;

      input.GameToken {
        width: 100%;
        border: none;
        text-align: center;
        font-size: 33px;
        font-weight: bold;
      }

      button {
        position: relative;
        width: 52px;
        margin-left: 8px;
        margin-right: -8px;

        svg {
          position: absolute;

          &.Copy.disappear {
            animation: 0.2s ease-out 1 shiftAway;
            animation-fill-mode: forwards;
          }
  
          &.Copy.appear {
            animation: 0.2s ease-out 1 shiftIn;
            animation-fill-mode: forwards;
          }
  
          &.Checkbox {
            fill: #4caf50;
            
            &.appear {
              animation: 0.2s ease-out 1 shiftIn;
              animation-fill-mode: forwards;
            }
  
            &.disappear {
              animation: 0.2s ease-out 1 shiftAway;
              animation-fill-mode: forwards;
            }
          }
        }
      }
    }
    
    .Caption {
      position: relative;
      .IconContainer {
        position: relative;
        display: inline-block;
        width: 18px;

        svg {
          position: absolute;
          width: 18px;
          fill: #888;
          top: -16px;
        }
      }
    }

  }

}

@keyframes rolling {
  100% { transform: rotate(-180deg); }
}

@keyframes shiftAway {
  100% {
    opacity: 0;
    transform: translateX(-25px) scaleX(0);
  }
}

@keyframes shiftIn {
  0% {
    opacity: 0;
    transform: translateX(25px) scaleX(0);
  }
  100% {
    opacity: 100;
    transform: translateX(0) scaleX(1);
  }
}
