@import './styles/colors';
@import './styles/layout';

body {
  padding: spacing(1);
  background-color: $background-color !important;
}

.MuiPaper-root {
  padding: spacing(2);
}

.OuterGrid {
  max-width: 1024px;
  margin: auto !important;
}
