@import './styles/colors';
@import './styles/layout';

body {
  padding: spacing(2);
  background-color: $background-color !important;
}

.MuiPaper-root {
  padding: spacing(2);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
